:root {
    --pri-blue: #2943b8;
    --nav-slogan-width: 55px;
    --nav-link-gap: 30px;
    --body-offset-navbar: 64px;
    --pri-blue-heavy: #203591;
    --pri-blue-heavier: #172561;
    --pri-blue-heavier2: #101941;
    --pri-blue-light: #889cf7;
    --success: #127e12; 
    --success-heavy: #0f4d0f;
    --danger: #c50808;
    --danger-heavy: #940b0b;
    --box-shadow-grey: #0d1436;
    --body-offset-sidebar: 230px;
    --card-max-width: 650px;
    --input-max-width: 500px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--pri-blue-light);
    padding: 0;
    font-family: sans-serif;
}

.main {
    margin-top: var(--body-offset-navbar);
}



.nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--body-offset-navbar);
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--pri-blue);
    gap: var(--nav-link-gap);
    color: white;
    transition: all 0.75s;
    box-shadow: 0 0 0.75px 0.75px var(--pri-blue-heavier);
    z-index: 10;
}

.nav-slogan {
    border-radius: 10px;
    width: var(--nav-slogan-width);
}

.input {
    outline: none;
    width: 100%;
    border-radius: 10px;
    border: none;
    height: 30px;
    padding: 10px;
    background-color: white;
}

.textarea {
    outline: none;
    width: 100%;
    border-radius: 10px;
    border: none;
    height: 100%;
    padding: 10px;
    background-color: white;
    font-family: sans-serif;
}

.file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    color: black;
}

.file-input+label {
    border-radius: 10px;
    height: 30px;
    padding: 10px;
    display: block;
    width: 100%;
    background-color: black;
    display: inline-block;
    background-color: white;
}

.file-input:focus+label,
.file-input+label:hover {
    background-color: var(--pri-blue-light);
}

.file-input+label {
    cursor: pointer;
}

.file-input:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.checkbox {
    outline: none;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.nav-search {
    width: 300px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: none;
    color: black;
}

.nav-toggle-icon {
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.nav-icon-div {
    width: 50px;
    height: 100%;
    border-radius: 0 10px 10px 0;
    background-color: var(--pri-blue-heavy);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-icon {
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.icon-black {
    font-size: 25px;
    font-weight: bold;
}

.nav-logo {
    width: 100%;
}

.nav-mobile-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input {
    padding: 10px;
    width: inherit;
}

.nav-search:has(input:focus) {
    box-shadow: 0 0 0 2px lightblue;
}

.nav-link-stable {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--nav-link-gap);
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-inner-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--nav-link-gap);
}

.link-plain {
    text-decoration: none;
}

.btn {
    color: white;
    cursor: pointer;
    background-color: var(--pri-blue-heavy);
    padding: 7px 13px;
    border-radius: 20px;
    box-shadow: 0 0 0.75px 0.75px var(--pri-blue-heavier);
    outline: none;
    border: none;
    font-size: 17px;
}

.half-left-round {
    border-radius: 20px 0 0 20px;
}

.half-right-round {
    border-radius: 0 20px 20px 0;
}

.half-left-round-mid {
    border-radius: 10px 0 0 10px;
}

.half-right-round-mid {
    border-radius: 0 10px 10px 0;
}

.half-top-round-mid {
    border-radius: 10px 10px 0 0;
}

.half-bottom-round-mid {
    border-radius: 0 0 10px 10px;
}

.btn:hover {
    background-color: var(--pri-blue-heavier);
    box-shadow: 0 0 0.75px 0.75px var(--pri-blue-heavy);
}

.btn:focus {
    box-shadow: 0 0 0 2px lightblue;
}

.card {
    border-radius: 15px;
    width: 100%;
    padding: 20px;
    box-shadow: 1px 1px 2px 1px var(--box-shadow-grey);
}

.login-card {
    width: 80%;
    max-width: var(--card-max-width);
    background-color: var(--pri-blue);
    margin: 100px auto;
}

.card-header {
    text-align: center;
    color: white;
}

.form-group {
    margin: 20px 0;
}

.form-label {
    display: block;
    font-size: 17px;
    font-weight: 700;
    margin: 10px 0;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-pri {
    color: var(--pri-blue);
}

.text-small {
    font-size: 13px;
}

.form-input:focus,
.form-:focus {
    box-shadow: 0 0 0 2px lightblue;
}

.mr-middle {
    margin: 0 auto;
}

.p-mid {
    padding: 10px;
}

.mtb-mid {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mtb-sm {
    margin-top: 15px;
    margin-bottom: 15px;
}

.g-sm {
    gap: 5px;
}

.g-mid {
    gap: 10px;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.jcc {
    justify-content: center;
}

.jcb {
    justify-content: space-between;
}

.jce {
    justify-content: end;
}

.aic {
    align-items: center;
}

.link {
    color: blue;
    font-weight: bold;
    font-size: 13px;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
}

.text-d-none {
    text-decoration: none;
}

.error-message {
    display: inline-block;
    background-color: white;
    color: red;
    width: auto;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

.test-class {
    color: red;
}

/* sidebar CSS */

.sidebar {
    background-color: var(--pri-blue);
    width: var(--body-offset-sidebar);
    height: 100vh;
    position: fixed;
    top: var(--body-offset-navbar);
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
    color: white;
    font-weight: bold;
    box-shadow: 1px 1px 0.75px 0.75px var(--pri-blue-heavier);
}

.sidebar.active {
    left: 0;
}

.sidebar-open-button {
    position: fixed;
    color: white;
    background-color: var(--pri-blue);
    font-size: 24px;
    left: 0px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    top: var(--body-offset-navbar);
    display: none;
}

.sidebar-close-btn {
    display: none;
}

.sidebar-menu {
    width: 100%;
    margin-top: 30px;
}

.sidebar-menu-item {
    position: relative;
    cursor: pointer;
}

.sidebar-menu-item {
    color: white;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    margin: 10px auto;
    font-weight: bold;
}

.sidebar-menu-item i {
    margin-right: 15px;
}

.sidebar-main {
    margin-left: var(--body-offset-sidebar);
}

.sidebar-close-btn i {
    font-size: 24px;
}

.sidebar-menu-item-droparrow,
.form-section-arrow {
    transition: 0.3s ease;
}

.sub-menu {
    border-radius: 10px;
    color: white;
    display: none;
    font-size: 14px;
}

.sub-menu.active {
    display: block;
}

.sub-menu-item {
    padding: 10px 5px;
    border-radius: 10px;
    margin: 15px 0;
    background-color: var(--pri-blue-heavy);
}

.sub-menu-item.active {
    background-color: var(--pri-blue-heavier);
}

.sub-menu-item:hover {
    background-color: var(--pri-blue-heavier);
}

.rotate {
    rotate: 180deg;
}

.active-nav {
    background-color: var(--pri-blue-heavier);
}

.create-card {
    margin: 10px auto;
    background-color: var(--pri-blue);
    color: white;
}

.limit-input-width {
    max-width: var(--input-max-width);
}

.limit-input-width-sm {
    max-width: calc(var(--input-max-width) / 2);
}

.limit-input-width-xs {
    max-width: calc(var(--input-max-width) / 4);
}

.form-section-arrow {
    font-weight: bold;
    color: white;
    padding: 3px;
    background-color: var(--pri-blue-heavy);
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

.form-section-arrow:hover {
    box-shadow: 0 0 0 2px lightblue;
}

.section-group {
    background-color: var(--pri-blue-heavy);
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 1px 1px 2px 1px var(--box-shadow-grey);
}

.noti {
    position: fixed;
    bottom: 3px;
    right: 3px;
    width: auto;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.noti-success {
    background-color: var(--success);
}

.noti-danger {
    background-color: var(--danger);
}

.noti-close-icon {
    cursor: pointer;
}

.res-table {
    overflow-x: auto;
    border-radius: 10px;
    padding: 5px;
    margin: 10px auto;
}

.table {
    width: 100%;
    min-width: 500px;
    text-wrap: nowrap;
    border-collapse: collapse;
    border: 1px solid white;
    background-color: var(--pri-blue-heavy);
}

.table tr td,
.table tr th {
    padding: 10px;
    font-weight: bold;
}

.table tr th {
    text-align: start;
    border-bottom: 1px solid white;
}

.table tr:hover {
    background-color: var(--pri-blue-heavier);
}

.pagi-nav {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.square {
    border-radius: 0;
}

.btn-small {
    font-size: 13px;
}

.btn-small {
    background-color: var(--pri-blue);
    color: white;
    font-size: 13px;
}

.btn-small:hover {
    background-color: var(--pri-blue-heavier2);
}

.btn.disabled {
    opacity: 0.7;
    pointer-events: none;
    cursor: default;
}

.filter-form-groups {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

.filter-form-group {
    margin: 10px 0;
    max-width: 400px;
    align-items: center;
}

.btn-success {
    background-color: var(--success);
    border-radius: 0;
}

.btn-success:hover {
    background-color: var(--success-heavy);
}

.btn-danger {
    background-color: var(--danger);
    border-radius: 0;
}

.btn-danger:hover {
    background-color: var(--danger-heavy);
}

.pagi-not-found {
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

.form-select {
    width: 100%;
    height: 100%;
    font-size: 15px;
}

.form-filter {
    width: 200px;
}

/* Select2 change color */
.select2-container .select2-selection {
    color: black !important;
    border: 1px solid #444 !important;
    border-radius: 10px !important;
    border: none !important;
}

.cards {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}

.card-image {
    width: 300px;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
}

.card-title {
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
    font-size: 17.5px;
}

.card-description {
    padding: 10px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card-item {
    cursor: pointer;
    max-width: 300px;
    background-color: var(--pri-blue-heavy);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px var(--box-shadow-grey);
}

.card-item:hover {
    background-color: var(--pri-blue-heavier);
    box-shadow: 1.5px 1.5px 2.5px 2px var(--box-shadow-grey);
}

.filter-action-group {
    margin-top: 10px;
}

.btn-tag-small {
    background-color: var(--pri-blue);
    color: white;
    font-size: 13px;
}

.btn-tag-small:hover {
    background-color: var(--pri-blue-heavier2);
}

.course-info {
    display: flex;
    gap: 15px;
}

.course-info-form {
    width: 100%;
}

.course-info-form-card {
    border-radius: 10px;
    box-shadow: 1px 1px 0.75px 0.75px var(--pri-blue-heavier);
    background-color: var(--pri-blue);
    color: white;
    padding: 10px;
    margin-bottom: 15px;
}

.course-info-course {
    max-width: 300px;
}

.course-info-course-card {
    width: 300px;
    border-radius: 10px;
    box-shadow: 1px 1px 0.75px 0.75px var(--pri-blue-heavier);
    background-color: var(--pri-blue-heavy);
    color: white;
}

.course-info-form {
    padding: 10px;
    width: 100%;
}   

.course-info-img {
    border-radius: 10px 10px 0 0;
    margin: 0 auto;
}

.course-info-img img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.course-info-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin: 3px 0;
}

.course-info-description {
    margin: 10px 0;
    text-align: justify;
}

.course-info-text {
    padding: 15px;
}

.course-info-tags {

}

.course-info-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
}

.course-info-section:hover {
    cursor: pointer;
}

.drop-sub-menu {
    display: none;
}

.drop-arrow {
    transition: all;
    transition-duration: 0.75s;
}

.bg-pri-heavy-2 {
    background-color: var(--pri-blue-heavier2);
}

.rounded-mid {
    border-radius: 10px;
}

.point-normal {
    cursor: default;
}

@media (max-width: 1024px) {
    .nav {
        display: flex;
        justify-content: start;
        flex-direction: column;
        height: var(--body-offset-navbar);
        overflow: hidden;
    }

    .nav-link-stable {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: var(--nav-link-gap);
    }

    .nav-toggle-icon {
        display: block;
    }

    .nav-link {
        margin-top: 10px;
    }

    .nav-inner-links {
        display: flex;
        flex-direction: column;
        gap: var(--nav-link-gap);
        text-align: center;
    }

    .nav-search {
        width: 70vw;
    }

    .sidebar-open-button {
        display: block;
    }

    .sidebar {
        left: calc(var(--body-offset-sidebar) * -1);
    }

    .sidebar-main {
        margin-left: 0;
    }

    .sidebar-close-btn {
        display: flex;
    }

    .course-info {
        flex-direction: column;
    }

    .course-info-course {
        max-width: none;
        width: 100%;
    }

    .course-info-course-card {
        max-width: none;
        width: 100%;
    }

    .course-info-img img {
        border-radius: 10px 10px 0 0;
    }
}